@{
    ViewData["Title"] = "Home Page";
}

<section class="section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 text-center">
				<h2 class="section-title">Find your answer by subject</h2>
			</div>
			<!-- topic-item -->
			<div class="col-lg-4 col-sm-6 mb-4">
				<a href="single.html" class="px-4 py-5 bg-white shadow text-center d-block match-height">
					<i class="ti-panel icon text-primary d-block mb-4"></i>
					<h3 class="mb-3 mt-0">Installation</h3>
					<p class="mb-0">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4">
				<a href="single.html" class="px-4 py-5 bg-white shadow text-center d-block match-height">
					<i class="ti-credit-card icon text-primary d-block mb-4"></i>
					<h3 class="mb-3 mt-0">Billing &amp; Pricing</h3>
					<p class="mb-0">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
				</a>
			</div>
			<div class="col-lg-4 col-sm-6 mb-4">
				<a href="single.html" class="px-4 py-5 bg-white shadow text-center d-block match-height">
					<i class="ti-package icon text-primary d-block mb-4"></i>
					<h3 class="mb-3 mt-0">Features</h3>
					<p class="mb-0">Lorem ipsum dolor sit amet ipsum dolor sit amet ipsum dolor sit amet</p>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- /topics -->
<!-- call to action -->
